## .NET / Visual Studio
bin/
obj/
*.user
*.suo
.vs/
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## OS
Thumbs.db
.DS_Store

## Logs
*.log
