USE [master]
GO

CREATE DATABASE [FruitShop]
GO

USE [FruitShop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/26/2025 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/26/2025 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/26/2025 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](255) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[IsVerified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/26/2025 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[Status] [nvarchar](15) NULL,
	[Ship_Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/26/2025 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/26/2025 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[QuantityInStock] [int] NULL,
	[CategoryID] [int] NULL,
	[Image] [nvarchar](255) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOtp]    Script Date: 7/26/2025 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOtp](
	[OtpId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OtpCode] [nvarchar](10) NOT NULL,
	[ExpirationTime] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[Purpose] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserOtp] PRIMARY KEY CLUSTERED 
(
	[OtpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'Seasonal Fruits')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (2, N'Regular Fruits')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (3, N'Exotic Fruits')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FullName], [Email], [Phone], [Address], [Password], [Role], [IsVerified]) VALUES (1, N'John Doe', N'admin@gmail.com', N'1234567890', N'123 Main St', N'123', N'Admin', 1)
INSERT [dbo].[Customer] ([CustomerID], [FullName], [Email], [Phone], [Address], [Password], [Role], [IsVerified]) VALUES (2, N'Jane Smith', N'janesmith@example.com', N'0987654321', N'456 Elm St', N'mypassword', N'User', 1)
INSERT [dbo].[Customer] ([CustomerID], [FullName], [Email], [Phone], [Address], [Password], [Role], [IsVerified]) VALUES (3, N'Alex Johnson', N'alexj@example.com', N'1122334455', N'789 Oak St', N'secretpass', N'User', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [QuantityInStock], [CategoryID], [Image], [Status]) VALUES (1, N'Mango', N'Fresh, juicy mangoes full of vitamins.', CAST(25.00 AS Decimal(10, 2)), 50, 1, N'mango.jpg', 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [QuantityInStock], [CategoryID], [Image], [Status]) VALUES (2, N'Orange', N'Sweet and tangy oranges, perfect for juicing.', CAST(20.00 AS Decimal(10, 2)), 60, 1, N'orange.jpg', 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [QuantityInStock], [CategoryID], [Image], [Status]) VALUES (3, N'Strawberries', N'Sweet strawberries, ideal for desserts.', CAST(45.00 AS Decimal(10, 2)), 40, 1, N'strawberries.jpg', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsVerified]
GO
ALTER TABLE [dbo].[UserOtp] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[UserOtp]  WITH CHECK ADD  CONSTRAINT [FK_UserOtp_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserOtp] CHECK CONSTRAINT [FK_UserOtp_Customer]
GO

SET IDENTITY_INSERT [dbo].[Order] ON;


SET IDENTITY_INSERT [dbo].[Order] OFF;
GO

SET IDENTITY_INSERT [dbo].[OrderDetail] ON;

INSERT INTO [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES
(1, 1, 1, 2, 25.00),
(2, 1, 5, 3, 15.00),
(3, 2, 3, 2, 45.00),
(4, 3, 9, 1, 55.00),
(5, 3, 4, 2, 30.00),
(6, 4, 6, 3, 35.00),
(7, 5, 10, 4, 50.00),
(8, 5, 13, 2, 60.00),
(9, 6, 21, 2, 90.00),
(10, 6, 23, 1, 95.00),
(11, 7, 2, 4, 20.00),
(12, 7, 8, 3, 28.00),
(13, 8, 18, 2, 20.00),
(14, 9, 17, 1, 22.00),
(15, 10, 15, 2, 65.00),
(16, 10, 20, 1, 28.00),
(17, 2, 7, 1, 40.00),
(18, 4, 19, 2, 25.00),
(19, 8, 12, 1, 38.00),
(20, 9, 14, 1, 70.00);

SET IDENTITY_INSERT [dbo].[OrderDetail] OFF;
GO
